#mainContainer{
	font-family: Verdana;
	font-size: 15px;
	margin-top:30px;
	margin-left:20px;
}

#buttonHolder{
	margin-bottom:15px;
}

.passed{
	color:green;
}

.failed{
	color:red;
	font-weight: bold;
}

#testResult{
	margin-top:10px;
}

#runResult{
	border-top: dotted 1px #000;
	margin-top:15px;
}

#successfulUrlsHolder{
	color:green;
}

#failedUrlsHolder{
	color:red;
	font-weight: bold;
}